body {
    font-family: Arial, sans-serif;
    background-color: #f2bde8;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #84c0a3;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  nav a {
    color: #f2bde8;
    margin: 0 10px;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  footer {
    background-color: #84c0a3;
    color: white;
    text-align: center;
    padding: 10px;
  }
  